
/*tranding list*/

.trending_container{
    margin-left:30px
}

.trending_list{
    width:max-content ;
}

.trending_item+.trending_item{
    margin-top:5px; 
}

.trending_item{
    transform: translateX(0px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trending_item:hover{
    transform: translateX(20px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:rgb(223, 64, 64);
}

.trending_link{
    color:currentColor;
    font-size: 20px;
    font-family:sans-serif;
}
