
/*tranding list*/

.trending_container{
    margin-left:30px
}

.trending_list{
    width:max-content ;
}

.trending_item+.trending_item{
    margin-top:5px; 
}

.trending_item{
    transform: translateX(0px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trending_item:hover{
    transform: translateX(20px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:rgb(223, 64, 64);
}

.trending_link{
    color:currentColor;
    font-size: 23px;
    font-family:sans-serif;
}

.poster{
    height: 600px;
    border-radius: 10px;
    border:1px solid black;
    box-shadow: 0px 0px 27px 4px rgba(255,18,18,0.46);
}

.movie_info_container{
    display: flex;
}
.main_info_movie{
    margin-left:30px;
}

.movie_info_list{
    margin-left:30px;
}

.movie_info_item+.movie_info_item{
    margin-top:30px;
}

.big_info_title{
    font-weight: 500;
    font-size: 35px;
    margin-bottom:15px;
}

.text{
    font-weight: 500;
    font-size: 20px;
}

.additional_info_container{
    background-color: rgb(128, 129, 133);
    width: 500px;
    box-shadow: 0px 11px 61px 3px rgba(0,0,0,0.54);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius:5px;
    margin-top:30px;
}
.additional_info_list{
    margin-top:20px;
}

.noImage{
    width: 520px;
    border: 1px solid black;
}

.NOcast_photo{
    width: 140px;
    height: 175px;
}

.Notfound_container{
    display: flex;
    justify-content: center;
}

.Notfound{
    font-size: 50px;
}

.cameBack_Container{
    display: flex;
}
.cameBack{
    margin-bottom:20px;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 700;
    border:1px solid black;
    border-radius: 4px;
    padding: 5px 5px;
    justify-content: center;
    display: flex;
    color:black;
    background-color: rgb(255, 255, 255);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cameBack:hover,
.cameBack:focus{
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}