*{
    padding: 0px;
    margin:0px;
    list-style-type: none;
    text-decoration: none;
}
.header{
    margin-bottom:30px;
    display: flex;
    padding: 20px 30px;
    border-bottom:1px solid black;
    box-shadow: 0px -1px 57px 4px rgba(0,0,0,0.55);
    background-color: rgb(185, 61, 61);
}

.nav_list{
    display: flex;
    
}

.nav_link+.nav_link{
    margin-left:20px;
}

.nav_link{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 700;
    border:1px solid black;
    border-radius: 4px;
    padding: 5px 5px;
    justify-content: center;
    display: flex;
    color:black;
    background-color: rgb(255, 255, 255);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link:hover,
.nav_link:focus{
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link.active{
    color: #d82323;
}

.qwery_Container{
    margin-left: 30px;
    display: flex;
}

.formQwery{
    display: flex;
    align-items: center;
}

.inputSearch{
    padding: 6px 4px;
    font-size: 20px;
}

.submitButton{
    border:1px solid black;
    border-radius: 4px;
    padding: 8px 8px;
    height: 37px;
    margin-left:30px;
    font-size: 20px;
    transform:scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitButton:hover,
.submitButton:focus{
    transform:scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_icon{
    fill: #011627 ;
}

/* query links*/

.query_container{
    padding: 30px 0px;
    margin-left:30px
}

.query_list{
    width:max-content ;
}

.query_item+.query_item{
    margin-top:5px; 
}

.query_item{
    transform: translateX(0px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.query_item:hover,
.query_item:focus{
    transform: translateX(20px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:rgb(223, 64, 64);
}

.query_link{
    color: currentColor;
    font-size: 23px;
    font-family:sans-serif;
}


.button_Container{
    padding: 50px 50px;
}

.buttonPlusPage{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 700;
    border:1px solid black;
    border-radius: 4px;
    padding: 5px 5px;
    color:rgb(223, 64, 64);;
    background-color: white;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonPlusPage:hover,
.buttonPlusPage:focus{
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cast_container{
    margin-top:30px;
}

.cast_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cast_item{
    border:1px solid black;
    padding: 10px 20px;
    background-color: rgb(128, 129, 133);
    border-radius: 5px;
    width: min-content;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 20px;
}

.cast_item:hover{
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cast_photo-container{
    margin-bottom:20px;
    width: 140px;
    height: 177px;
}

.cast_photo{
    border:1px solid black;
    border-radius: 5px;
}

.cast_text{
    font-family: sans-serif;
}

.cast_name{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.reviews_container{
    margin-top:30px;
}

.reviews_item{
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom:20px;
    background-color: rgb(128, 129, 133);

}

.reviews_author{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom:10px;
}

.reviews_content{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
}


/*#011627*/